DISCORD_TOKEN=put_your_bot_token_here
GUILD_ID=
DATABASE_PATH=/data/database.db
DISCORD_MEMBERS_INTENT=true
DISCORD_VOICE_STATES_INTENT=true
DISCORD_SYNC_COMMANDS=false
VERIFY_OAUTH_ENABLED=true
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
PUBLIC_BASE_URL=
DISCORD_OAUTH_REDIRECT_URI=

PAKASIR_ENABLED=true
PAKASIR_PROJECT_SLUG=
PAKASIR_API_KEY=
PAKASIR_QRIS_ONLY=true
PAKASIR_DEFAULT_METHOD=qris

SUPPLIER_ENABLED=true
SUPPLIER_BOT_USERNAME=MeowtensOrder_bot
SUPPLIER_STOCK_COMMAND=/stock
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=
